.google {
    color: green;
}
.linkgroup {
    color: red;
}
.crvena {
    color: red;
}
.plava {
    color: blue;
}
.c:hover {
   color: red; 
   font-style: italic;
    
}
.posle::after { 
    content: " - NEW";
    color: yellow;
}